<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<title>Dipendenti</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Scegli il dipendente da votare</h1>

<a href="{{ url_for('index') }}">
  <button style="margin: 20px; font-size: 20px; padding: 10px 20px;">
    Torna all'inizio
  </button>
</a>


<div class="grid">
{% for id, nome, foto in dipendenti %}
  {% if id in votati %}
    <div class="card votato">
      <img src="{{ url_for('static', filename='foto/' + foto) }}">
      <p>{{ nome }}</p>
    </div>
  {% else %}
    <a href="{{ url_for('vota', fidelity=fidelity, dipendente_id=id) }}" class="card">
      <img src="{{ url_for('static', filename='foto/' + foto) }}">
      <p>{{ nome }}</p>
    </a>
  {% endif %}
{% endfor %}
</div>

<script>
let timer;

function resetTimer() {
  clearTimeout(timer);
  timer = setTimeout(() => {
    window.location.href = "{{ url_for('index') }}";
  }, 30000); // 30 secondi
}

window.onload = resetTimer;
document.addEventListener("mousemove", resetTimer);
document.addEventListener("keydown", resetTimer);
document.addEventListener("click", resetTimer);
</script>


</body>
</html>
